.App {
  text-align: center;
}
body {
  background-color: black;
}

table,
td {
  border-collapse: collapse;
  border: 1px solid white;
}

h1 {
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 8em;
  margin: 0.25em 0;
  text-decoration: underline;
  color: #fff;
  animation: flicker 1.5s infinite alternate;
  animation-iteration-count: 5;
}

.win-msg {
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 8em;
  color: #fff;
}

@keyframes flicker {
  0%,
  13%,
  20%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #f09,
      0 0 82px #f09, 0 0 92px #f09;
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
